<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Dashboard de Estudiantes:</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<!--  ----------------------- Área de Botones:  ---------------------------------------------------------  -->
<div class="row espacio">
  <div class="col-3">
    <button mat-raised-button color="primary" routerLink="/estudiantes">
      Ver Estudiantes
      <!-- <a href="/estudiantes">Ver Estudiantes</a> -->
      <!-- <a routerLink="/estudiantes">Ver Estudiantes</a> -->
    </button>

  </div>
  <div class="col-3">

    <button mat-raised-button color="accent" routerLink="/register">
      Crear Estudiante
    </button>
  </div>
  <div class="col-3">
    <button mat-raised-button color="accent" routerLink="/new-table">
      Ir a tabla nueva
    </button>
  </div>
</div>

<div class="row espacio">

  <div class="col-3">
    <button mat-fab extended color="primary" routerLink="/estudiantes">
      <mat-icon>home</mat-icon>
      Ver Asignatura
      <!-- <a href="/estudiantes">Ver Estudiantes</a> -->
      <!-- <a routerLink="/estudiantes">Ver Estudiantes</a> -->
    </button>
  </div>
  <div class="col-3">
    <button mat-fab extended color="accent" routerLink="/register">
      <mat-icon>open_in_new</mat-icon>
      Crear Asignatura
    </button>
  </div>
  <div class="col-3">

  </div>
  <div class="col-3">
      
  </div>

</div>
